* {
  font-family: "Montserrat", sans-serif;
}
.slick-disabled {
  display: none !important;
}
.slick-prev {
  left: -10px !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background: #fff !important;
  border: 2px solid #d7d7d7 !important;
  opacity: 0.7 !important;

  &:hover {
    background: #eceaea !important;
    opacity: 1 !important;
  }
}
.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome !important;
  color: #000 !important;
}
.slick-next {
  right: -10px !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background: #fff !important;
  border: 2px solid #d7d7d7 !important;
  opacity: 0.7 !important;

  &:hover {
    background: #fff !important;
    opacity: 1 !important;
  }
}

.section-share {
  &.section-medical-facility,
  &.section-handbook {
    background: #f5f5f5;
  }
  &.section-outstanding-doctor {
    width: 100%;
    height: 384px;
  }
  &.section-about {
    height: 467px;
  }

  .section-body {
    margin-top: 20px;

    .section-customize {
      .bg-image {
        width: 278px;
        height: 150px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eee;

        &.section-specialty {
          background-image: url("../../assets/specialty/co-xuong-khop.jpg");
        }
        &.section-medical-facility {
          background-image: url("../../assets/medical-facility/bv-viet-duc.jpg");
        }
        &.section-outstanding-doctor {
          // background-image: url("../../assets/outstanding-doctor/bshung.jpg");
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }
        &.section-handbook {
          background-image: url("../../assets/handbook/handbook.jpg");
        }
      }
    }
  }
}

.section-share {
  height: 330px;

  .section-container {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: column;

    .section-header {
      height: 60px;
      margin: 0 15px 30px 15px;
      padding-top: 30px;

      .title-section {
        display: inline-block;
        font-size: 24px !important;
        font-weight: 700 !important;
      }

      .btn-section {
        float: right;
        padding: 10px 15px;
        border: none;
        outline: none;
        display: block;
        background: #ebebeb;
        color: #000;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
          color: #fff;
          background: #f7d800;
        }
      }
    }
  }
}

.section-outstanding-doctor {
  .outer-bg {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .section-customize {
    padding: 5px;
    cursor: pointer;

    .customize-border {
      border: 1px solid #eee;
      padding: 20px;
    }
  }
}

.home-footer {
  height: 60px;
  padding-top: 10px;
  background-color: #64b9e5;

  .footer-content {
    max-width: 1170px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .icon-mxh {
      display: flex;
      flex-direction: flex-end;
      img {
        margin-left: 10px;
      }
    }
    p {
      font-size: 16px;
    }
    a {
      text-decoration: none;
    }
  }
}
.section-about {
  max-width: 1170px;
  margin: auto;
  padding-top: 15px;

  .about-container {
    font-size: 14px;
    line-height: 21px;
    padding: 0px 15px;

    .section-about-header {
      font-weight: 700;
      padding: 20px 10px;
    }
    .header-about{
      padding-top: 15px;
      padding-bottom: 30px;
    }

    .section-about-content {
      display: flex;
      gap: 15px;
      width: 100%;

      .content-left {
        width: 60%;
      }
      .content-right {
        width: 40%;
        line-height: 2.5;
        font-size: 16px;
        font-style: italic;
        a {
          color: #000;
          text-decoration: none;
          &:hover {
            color: #c50327;
          }
        }
        ul {
          list-style-type: none;
        }
      }
    }
  }
}
